.curve-slide-wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 0px;
  overflow-x: hidden;
}

.slick-track {
  display: flex !important;
  gap: 12px;
  will-change: transform;
}

.slide-item {
  width: 352px !important;
  height: 500px;
  background-color: #f3f3f3;
  box-sizing: border-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #555;
  margin: 0;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  padding: 14px 6px;
  z-index: 1;
  border: none;
}

.left-arrow {
  left: 300px;
}

.right-arrow {
  right: 300px;
}

/* slick-slide 내부 div에 마진 제거 (기본값 덮어쓰기) */
.slick-slide > div {
  margin-right: 0 !important;
}
